<!DOCTYPE html>

<html>

	<head>
		<title>My Polls</title>
     	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

	<header>
		<p>Welcome, <span id="display-name"></span>!</p>
		<a class="menu" href="/profile">Profile</a>
		<p>|</p>
		<a class="menu" href="/mypolls">My Polls</a>
		<p>|</p>
		<a class="menu" href="/newpoll">New Poll</a>
		<p>|</p>		
		<a class="menu" href="/logout">Logout</a>
	</header>

	<body>
	
		<div class="container">
			<img src="/public/img/clementine_150.png" />
			<br />
			<p class="clementine-text">The Voting App</p>
		</div>
	
		<div class="container">
		    <p>Below are polls you own.</p>
			<p>Select a poll to see the results and vote,<a href="/newpoll"> or make a new poll.</a></p>
			
			<br />
			<div class = "btn-container" style = "margin:30px; background-color:grey;">
				<ol>
					 <% for (var i=0;i<data.length;i++) { %>
 					<li style = "margin:10px 2px 10px 2px; background-color:white;"><%= data[i].pollClicks.title%></li>
 <% }%>
				
				</ol>
			</div>
			<div class="btn-container">
				<button type="submit" class="btn btn-add" >CLICK ME!</button>
				<button class="btn btn-delete">RESET</button>
			</div>
		</div>
		
		<script type="text/javascript" src="common/ajax-functions.js"></script>
		<script type="text/javascript" src="controllers/clickController.client.js"></script>
		<script type="text/javascript" src="controllers/userController.client.js"></script>
	</body>

</html>
